<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>HackDoomna</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Privacy Analyser</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">AboutUs <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
   <main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1> Privacy Policy <span class="badge badge-secondary">ANALYSER</span></h1>
      <p>This project is made in HackDoomna Hackathon during the Invicta'20 Fest. The focus of this web application is to summarise any privacy policy that you can provide. It is understood that the policy is very lengthy.
      In our daily life we just press yes in every privacy policy we see, without even knowing the contents, trusting the company or the application blindly. In this age of information we should be capable enough to understand what we are agreeing to without needing much effort.
      </p>
    </div>
  </div>

  <div class="container">
    <h4> Creators :</h4>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3">
        <h2> Ayush <span class="badge badge-secondary">Gupta</span></h2>
        <p>
          Enthusiatic Coder. Trying to implement algorithms and solve problems using a computer.
        </p>
      </div>
      <div class="col-md-3">
        <h2> Anshuman <span class="badge badge-secondary">Sharma</span></h2>
        <p>
          Enthusiatic Coder. Having a nice time sipping a cup of coffee while writing some quality code in the room.
        </p>
      </div>
      <div class="col-md-3">
        <h2> Lakshya <span class="badge badge-secondary">Baghel</span></h2>
        <p>
          Enthusiatic Coder. Nothing is better than a home with good WiFi and a computer with vibrant screen that helps to debug.
        </p>
      </div>
      <div class="col-md-3">
      <h2>Anuj <span class= "badge badge-secondary">Singh</h2>
      <p>
        Enthusiatic Coder. Ever seen a company person feel good? See me.
      </p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   s://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>